
body {
    background-color: #23141f;
    background-attachment: scroll,							fixed;
    background-image: url("images/overlay1.png"), url("../../images/bg.jpg");
    background-position: top left,						top center;
    background-repeat: repeat,							no-repeat;
    background-size: auto,							cover;
}

body, input, select, textarea {
    color: #a2a2a2;
    font-family: Georgia, "Lato", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 300;
    line-height: 1.75em;
}

/* NavBar */
#nav {
    font-weight: bold;
    font-family: Georgia, serif;
}

/* container */
.container {
    display: box;
    margin-left: auto;
    margin-right: auto;
}



/* Form */
form label {
    display: block;
    font-family: Georgia, serif;
    font-weight: 400;
    color: #363636;
    margin: 0 0 1em 0;
}

/* form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
    -webkit-appearance: none;
    border: 0;
    background: #f4f4f4;
    padding: 0.75em;
    width: 100%;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}

    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="password"]:focus,
    form select:focus,
    form textarea:focus {
        background: #f8f8f8;
    } */
